.App {
  text-align: center;
}

body{
  font-family: "Verdana";
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar{
  display: flex;
  justify-content: space-around;
  background: #4daab3;
  height: 70px;
  color: #fff;
  align-items: center;
  position: fixed;
  width: 100%;
  box-shadow: 0px 0px 22px -3px #383838;
  z-index: 10;
}

.page-body{
  padding: 20px;
  padding-top: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-div{
  width: 100%;
  border: 0px solid black;
  text-align: center;
  position: fixed;
  background-color: #fff;
  padding-top: 70px;
  padding-bottom: 20px;
}

.my-input{
  border-radius: 10px;
  width: 50%;
  font-size: 22px;
  padding: 22px 40px 22px 40px;
  border: 1px solid #ddd;
  /* margin-bottom: 20px; */
}

.list-box{
  width: 40%;
  margin-top: 160px;
  display: flex;
  flex-direction: column;
  align-items: center;

}
.user_list_item{
  /* border: 1px solid grey; */
  border-radius: 5px;
  /* margin-bottom: 15px; */
  padding-top: 10px;
  padding-left: 30px;
  width: 100%;
  color: #3d3d3d;
  /* display: flex;
  flex-direction: row; */


}

hr{
  border: 2px solid grey;
  margin: 0px;
  /* height: 2px; */
  background: #989898;
}
#divider{
  border: 0px solid grey;
  width: 100%;
  border-radius: 2px;
  height: 2px;
  background-color: grey;
}
.user_item_link{
  text-decoration: none;
  /* width: 100%; */
  height: 100%;
}

.user-card{
  border: 1px solid #ffa800;
  border-radius: 25px;
  overflow: hidden;
  width: 50%;
  box-shadow: 0px 0px 15px #929292;
  margin-top: 30px;
}

.user-card-header{
  background: #3d3d3d;
  text-align: center;
  padding: 20px;
  padding-top: 30px;
  color: white;

}

img{
  width: 100px;
  border: 2px solid white;
  border-radius: 50%;
}

.user-card-body{
  padding: 10px;
  color: #3d3d3d;
}

.tags-container{

}
.tag{
  padding: 5px;
  background-color: #ffffffe0;
  border-radius: 5px;
  margin: 5px;
  color: #545454;
}

table{
  padding: 10px;
}
td{
  padding: 15px;
}
.td-left{
  color: #989898;
  width: 130px;
}
.td-right{

}